langchain
langchain-community
langchain-openai
langchain-ollama
langchain-huggingface
langchain-chroma
langchain-google-genai
langchain-groq
chromadb
sentence-transformers
datasets
seaborn
plotly
tiktoken
pandas
pypdf
gradio
jq
python-dotenv
openpyxl
langchain-classic